<div class="container">
    <div class="profileCont" [hidden]="!showProfileCont">
        <h2 class="mb-4">My Profile</h2>
        <div class="row" *ngFor="let data of loggedInUser">
            <div class="col-md-4">
                <label>Username</label>
                <p>{{ data?.username }}</p>
            </div>
            <div class="col-md-4">
                <label>Fullname</label>
                <p>{{ data?.firstName }} {{ data?.middleName}} {{ data?.lastName }}</p>
            </div>
            <div class="col-md-4">
                <label>Email</label>
                <p>{{ data?.email ?? ''| emailMask }}</p>
            </div>
            <div class="col-md-4">
                <label>Mobile no.</label>
                <p>{{ data?.phoneNumber ?? '' | mobileMask}}</p>
            </div>
            <div class="col-md-4">
                <label>Birthday</label>
                <p>{{ data?.birthdate }}</p>
            </div>
            <div class="col-md-4">
                <label>List of Interest</label>
                <div *ngFor="let list of data?.listOfInterest">
                    <label>{{ list }},</label>
                </div>
                
            </div>
        </div>
        <div class="btnCont">
            <button type="button" class="btn editBtn" (click)="toggleEditMode()">Edit Profile</button>
            <button type="button" class="btn changePassBtn" (click)="navigateChangePassword()">Change Password</button>
        </div>
    </div>

    <div [hidden]="!showEditForm">
        <!-- Edit form content -->
        <app-edit-profile 
            (editProfileCancel)="cancel()"
            [userId]="userId" 
            [loggedInUser]="loggedInUser"
        ></app-edit-profile>
    </div>
</div><br/><br/>
