<div class="editForm" >
    <h2 class="mb-4">Edit Profile</h2>
    <form class="row g-3" [formGroup]="editForm" (ngSubmit)="onSubmit()" name="editForm">
        <div class="alert alert-danger border-0" role="alert" *ngIf="errorMessage !== ''">
            <div>
              <i class="bi bi-exclamation-triangle-fill"></i> {{ errorMessage }}
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputFname" class="form-label">Firstname</label>
            <input 
                type="text" 
                class="form-control border-bottom" 
                id="inputFname" 
                formControlName="firstName"
                required
            >
            <!-- Validation -->
            <div
                class="validation"
                *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
            >
                <p *ngIf="firstName?.errors?.['required']">
                    Firstname is required.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputMname" class="form-label">MiddleName</label>
            <input 
                type="text" 
                class="form-control border-bottom" 
                id="inputMname"
                formControlName="middleName"
                required
            >
            <!-- Validation -->
            <!-- <div
                class="validation"
                *ngIf="middleName?.invalid && (middleName?.dirty || middleName?.touched)"
                >
                <p *ngIf="middleName?.errors?.['required']">MiddleName is required.</p>
            </div> -->
        </div>
        <div class="col-md-4">
            <label for="inputLname" class="form-label">Lastname</label>
            <input 
                type="text" 
                class="form-control border-bottom" 
                id="inputLname"
                formControlName="lastName"
                required
            >
            <!-- Validation -->
            <div
                class="validation"
                *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
            >
                <p *ngIf="lastName?.errors?.['required']">
                    Lastname is required.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputUsername" class="form-label">Username</label>
            <input 
                type="text" 
                class="form-control border-bottom" 
                id="inputUsername"
                formControlName="username"
                required
            >
            <!-- Validation -->
            <div
                class="validation"
                *ngIf="username?.invalid && (username?.dirty || username?.touched)"
            >
                <p *ngIf="username?.errors?.['required']">
                    Username is required.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputEmail" class="form-label">Email</label>
            <input 
                type="text" 
                class="form-control border-bottom" 
                id="inputEmail"
                formControlName="email"
                required
            >
            <!-- Validation -->
            <div
                class="validation"
                *ngIf="email?.invalid && (email?.dirty || email?.touched)"
            >
                <p *ngIf="email?.errors?.['required']">Email is required.</p>
                <p *ngIf="email?.errors?.['email']">
                    Not an acceptable email type.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputMobileNo" class="form-label">Mobile no.</label>
            <input 
                type="" 
                class="form-control border-bottom" 
                id="inputMobileNo"
                formControlName="phoneNumber"
                required
            >
            <!-- Validation -->
            <div
                class="validation"
                *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)"
            >
                <p *ngIf="phoneNumber?.errors?.['required']">
                    Mobile number is required.
                </p>
                <p *ngIf="phoneNumber?.errors?.['mobileNoIsValid']">
                    Mobile number is not acceptable
                </p>
                <p *ngIf="phoneNumber?.errors?.['mobileNoHasNoLetters']">
                    It must not contain letters.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputBday" class="form-label">Birthday</label>
            <input 
                type="date" 
                class="form-control border-bottom" 
                id="inputBday"
                formControlName="birthdate"
                required
            >
            <!-- Validation -->
            <div
                class="validation"
                *ngIf="birthdate?.invalid && (birthdate?.dirty || birthdate?.touched)"
            >
                <p *ngIf="birthdate?.errors?.['required']">Birthday is required.</p>
            </div>
        </div>
        <div class="col-md-12">
            <label class="form-label">List of Interest</label>
            <div formArrayName="listOfInterest">
                <div class="d-flex flex-row">
                    <div *ngFor="let control of listOfInterestArray.controls; let i = index" class="mb-3">
                        <input [formControlName]="i" class="form-control text-center" placeholder="List:"/>
                    </div>
                </div>
            </div>
            <!-- Validation -->
            <div
                class="validation"
                *ngIf="listOfInterest?.invalid && (listOfInterest?.dirty || listOfInterest?.touched)"
            >
                <p *ngIf="listOfInterest?.errors?.['required']">List of interest is required.</p>
            </div>
        </div>
        
        <div class="btnCont">
            <button type="submit" class="btn saveBtn">Save Changes</button>
            <button type="button" class="btn cancelBtn" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div><br/><br/>